ALPHABETICAL_INDEX=YES
COLS_IN_ALPHA_INDEX=3
SHOW_DIRECTORIES=YES
SOURCE_BROWSER=YES
EXTRACT_LOCAL_METHODS=YES
EXTRACT_LOCAL_CLASSES=YES
EXTRACT_ALL=YES
INLINE_INHERITED_MEMB=YES
SHOW_NAMESPACES=YES
GENERATE_HTML=YES
GENERATE_LATEX=NO
INHERIT_DOCS=YES
FILE_PATTERNS=*.java
INPUT=/home/ustaudinger/trunk/base/src/main/java
PROJECT_NAME=AQ2o
PROJECT_NUMBER=2.2-SNAPSHOT
RECURSIVE=YES
GENERATE_TODOLIST=YES
