<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
                "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="InstrumentMapper">
	<sql id="init">
		create table if not exists Instrument (id bigint, name varchar(255)) 
	</sql>

</mapper>
