@CHARSET "UTF-8";

body {
	font-family: sans-serif;
}

.header {
	height: 50px; border-bottom-style : solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.title {
	font-size: larger;
	position: absolute;
}

.logo {
	position: absolute;
	vertical-align: top;
	right: 0%;
}

.footer {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: black;
}

.footertext {
	font-size: small;
}

caption {
  font-style: italic;
  padding-top: 20px;
}

table {
	caption-side: top;
	width: 100%;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: black; 
	
}

td {
	vertical-align: top;
	/* border: thin;
	border-style: solid;
	border-color: black; */
}

.pnlTD {
	
	vertical-align: top;
	left: 0%;
}